# Deployment used by `bunx convex dev`
CONVEX_DEPLOYMENT=

PUBLIC_CONVEX_URL=https://<convex-project>.convex.cloud

PUBLIC_CONVEX_SITE_URL=https://<convex-project>.convex.site

PUBLIC_SITE_URL=https://<your-domain>

##### ENVIRONMENT VARIABLES FOR CONVEX ONLY
# Set by running `bunx convex env set KEY "value"`
# ADMIN_EMAILS - bunx convex env set ADMIN_EMAILS=admin1@ema.il,admin2@ema.il
# BETTER_AUTH_SECRET - bunx convex env set BETTER_AUTH_SECRET=$(openssl rand -base64 32)
# OPENROUTER_API_KEY - bunx convex env set OPENROUTER_API_KEY=<your-openrouter-api-key>
# SITE_URL - bunx convex env set SITE_URL=https://<your-domain>